#twitt-feed-resource-summary {
	border: 1px solid #e1e8ed;
	border-bottom: none;
	padding: 0 15px;
	position: relative;
	&:last-child {
		border-bottom: 1px solid #e1e8ed;
	}
	&:hover {
		background-color: #f5f8fa;
	}
	.twitter-feed-retweeted {
		color: #177C17;
		text-decoration: none;
		font-size: 13px;
		font-weight: bold;
		&:hover {
			color: #315F09;
		}
	}
	.twitter-feed-content {
		min-height: 55px;
		margin-left: 55px;
		padding: 10px 0;
		.twitter-feed-user-link {
			color: #292f33;
			&:hover {
					text-decoration: none;
			}
			.twitter-feed-user-image {
				float: left;
				margin-left: -55px;
				border-radius: 5px;
			}
			.twitter-feed-username-profile {
				&:hover {
					color: #1b95e0;
					text-decoration: underline;
				}
			}
			.twitter-feed-username {
				s {
					text-decoration: none;
					color: #8899a6;
				}
				b {
					color: #8899a6;
					font-weight: normal;
					font-size: 13px;
				}
			}
		}
		.twitter-feed-post-link {
			position: absolute;
    		right: 13px;
    		top: 7px;
			background-color: #1da1f2;
		    color: #fff;
		    padding: 2px 6px;
		    border-radius: 4px;
		    text-decoration: none;
		    font-size: 12px;
		    font-weight: bold;
		    &:active {
		    	background-color: #3b88c3;
		    	color: #333;
		    }
		}
		.twitter-feed-text-content {
			color: #292f33;
			text-decoration: none;
			padding-top: 5px;
			p {
				font-size: 16px;
				line-height: 22px;
				font-weight: 400;
				a {
					color: #1b95e0;
				}
			}
		}
	}
}
.label[data-format="twitter feed"],
.label[data-format*="twitter"] {
	background-color: #1da1f2;
}
.format-label[data-format="twitter feed"],
.format-label[data-format*="twitter"] {
	width: 32px;
	height: 35px;
	background: url("../../images/twitt_large.png") no-repeat 0 0;
	background-size: cover;
}


@media (max-width: 767px) {
	#twitt-feed-resource-summary {
		.twitter-feed-content {
			.twitter-feed-post-link {
				right: 0;
				top: 0;
				padding: 7px 6px;
				font-size: 13px;
				position: relative;
			}
		}
	}
}